* {
  padding: 0;
  margin: 0;
  color: #303030;
  font-family: 'Courier New', Courier, monospace;
}

header {
  border: 1px solid black;
  height: 7.5vh;
  background: #303030;
  display: flex;
}
h1 {
  color: #f0f0f0;
  padding: 1vh 1vw;
  width: 60vw;
  margin-left: 5vw;
  align-self: center;
}
#userNav {
  width: 30vw;
  display: flex;
  margin-right: 5vw;
}
.userIcon {
  color: #f0f0f0;
  width: 20vw;
  align-self: center;
}

.logoutBtn {
  width: 15vw;
  justify-self: right;
}

h1, aside, .content {
  text-align: center;
}

main {
  margin: 5vh 10vw;
  display: flex;
  column-gap: 10vw;
}

aside {
  border: 1px solid #ff6000;
  width: 25vw;
  padding: 2.5vh 2.5vw
}

.aside-box{
  border: 1px solid #303060;
  padding: 1vh 1vw;
  margin: 2vh;
}

.content {
  border: 1px solid red;
  width: 50vw;
  padding: 2.5vh 2.5vw
}

button {
  padding: 1vh 1vw;
}